<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python_Addin_Copy_Location</Name><AddInID>{f8744623-c570-4f08-b6d5-dd19dc1f5fe7}</AddInID><Description>New Addin</Description><Version>0.2</Version><Image>Images\add_in_logo.png</Image><Author>William_Xing</Author><Company>William_Xing</Company><Date>06/03/2020</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="copy_location_addin.py" namespace="copy_location_addin"><ArcMap>
    <Commands>
        <Button caption="Copy Loction" category="Python_Addin_Copy_Location" class="CopyLocationButton" id="copy_location_addin.copy_location" image="Images\button_waterdrop.png" message="Copy location to clipboard" tip="Copy location to clipboard"><Help heading="Copy location to clipboard">Copy location to clipboard</Help></Button>
        <Button caption="Next Point" category="Python_Addin_Copy_Location" class="NextPointButton" id="copy_location_addin.next_point" image="Images\button_right_arrow_green.png" message="Move extent to next point" tip="Move extent to next point"><Help heading="Move extent to next point">Move extent to next point</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Copy Location" category="Python_Addin_Copy_Location" id="copy_location_addin.toolbar" showInitially="true"><Items><Button refID="copy_location_addin.copy_location" /><Button refID="copy_location_addin.next_point" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>